:root{
    --text-grey:#65666B;
    --text-white:#fff;
    --green-bg:#006666;
    --grey-bg:#22242B

}

.lbox-main{
    /* background-color: red; */
    width: 100%;
}
.lsider{
    background-color:var(--grey-bg);
    border: 1px solid #65666B;
    border-radius: 10px;
    width: 100%;
}
.lmen{
    color: var(--text-white);
}
.ant-list-item{
    background-color: #fff;
    color:#ddd !important ;
}
.ant-list-item-meta-title a{
    color: red !important
}
.ant-list-item-meta-description {
    color: red !important
}