:root{
    --text-grey:#65666B;
    --text-white:#fff;
    --green-bg:#006666;
    --grey-bg:#22242B;
    --borderGrey:#393A41

}
.projList-main{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.proj-one h1{
    color: var(--text-white);
    font-size: 1.7em;
    font-weight: 500;
}

.proj-card{
    /* background-color: #7fffd4; */
    display: flex !important;
    width: 100%;
    

}
.proj-card >.left{
/* background-color: blue; */
width: 50%;
}
.card{
  
    border: 1pt solid var(--borderGrey);
    background-color: var(--grey-bg);
}

.list-card{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 10px;
    list-style-type: none;
    width: 70%;
    /* background-color: rgb(88, 94, 99); */
    font-family: 20px;
}
.list-card li{
    font-size: 1.4em;
    color: var(--text-grey);
    
}
.list-card li:hover{
    cursor: pointer;
    color: #006666;
}
.right{
    /* background-color: rgb(190, 152, 152); */
    width: 50%;
    text-align: end;
}
.right button{
    background-color: var(--green-bg);
    border-radius: 5px;
    border: none;
    padding: 8px;
    width: 250px;
    color: #fff;
    font-size: 1.3em;
}

.right button:hover{
    cursor:pointer;
    background-color: var(--green-bg);
    transform: scale(1.1);
    transition: 500ms ease;

}
.user-cards{
    /* background-color: yellow; */
}
.cardblue{
    background-color: rgba(0, 102, 102, 0.212);
    border: 1px solid  rgba(0, 102, 102, 0.212);
    
}

.user-col{
  /* background-color: pink; */
}
.userc-main{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
    font-size: 20px;
}
.btn-container{
    /* background-color: palegoldenrod; */

    align-self: end;
    
}
.btn-container button{
    background-color: var(--green-bg);
    color: var(--text-white);
    border: none;
}
.btn-container button:hover{
    transform: scale(1.1);
    transition: 500ms ease;
    background-color: var(--green-bg) !important;
    color: var(--text-white) !important;
}
.title h2{
  color: var(--text-white);
  font-weight: 500;
  font-size: 1.1em;
}
.company span{
    font-size: 0.90em;
    font-weight: 500;
    color: var(--text-grey);
    vertical-align: center;
    
}
.company img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: center;
    
}
.description p{
    font-size: 0.85em;
    color: var(--text-white);
}
.card-list li {
    display: flex;
    
    justify-content:start;
    color: var(--text-grey);
    
    
}
.images img{
    width: 20px;
    border-radius: 50%;
    
    
}
.images span{
    color: var(--text-grey);
    font-size: 0.60em;
}
.card-list span{
   width: 100px;
   /* background-color: red; */
}

.createPorj-main{
    /* background-color: #65666B; */
    font-size: 20px;
}
.ant-form-item-label >label {
    color:var(--text-white) !important;
    font-size: 1.2em !important;
}

.projInp{
    background-color: var(--grey-bg) !important;
    color: var(--text-white);
    border: 1pt solid var(--borderGrey)
}
.textarea{
    height: 100px !important;
}
.ant-picker{
    width: 100% !important;

}
.ant-picker input::placeholder {
    color: white !important;
}

.projInp:focus {
    background-color: var(--grey-bg);
}
.projInp:hover {
    background-color: var(--grey-bg);
}
.ant-select-selector{
    background-color: var(--grey-bg) !important;
    color: var(--text-white) !important;
    border: 1pt solid var(--borderGrey)!important;
}
.Proj-dropzone{
    /* background-color: yellow; */
    height: 250px;
    display: flex;

}
.proj-drop{
    /* background-color: rgb(122, 22, 168); */
    width: 100%;
    height:100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dashed #006666 ;
    border-radius: 10px ;
    font-size: 20px;
}
.proj-drop h1{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-white);
}
.proj-drop p {
    font-size: 0.80em;
    color: var(--text-grey);
    font-weight: 200;
}
.proj-drop svg{
    font-size:2em;
    color: #006666;
}
.proj-btnsec{
    display: flex;
    justify-content: end;
    gap: 10px;
}