@media  (max-width:1002px){
    .headerhide{
      display: none;
      
    }
    .sideCard-main{
      display: none;
      background-color: aqua;
    
    }
    /* .side-icons{
      display: flex;
      background-color: aqua;
      margin-bottom: 4px;
    }
     */
  }
  @media  (max-width:768px){
    .onee{
      /* background-color: red;  */
      height: 100%;
      
    }
    .proj-card{
      
      /* background-color: azure; */
      display: flex;
      flex-direction:column ;
      justify-content: center;
      align-items: center;
       
    }
    .right button{
      background-color: yellow !important;
     display: none;
    }
   
    
    .list-card li{
      text-align: center;
      gap: 12px;
    }
   
    
  }
  